
@import "variables";
@import "estructuras_repetitivas";
@import "funciones\ y\ _temas";
@import "mixins";

table{
    border-radius: 50px;
    border: 50px;
    border-color: black;
    tr{
    }
}








